body {
    background-color: #d8cece;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .h5{
 
    font-size: large;


  }

  .container1{
    background-color: rgb(161, 153, 153);
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }

  .table hidden{
    margin-right: 60px;
  }